<!DOCTYPE html>
<html lang="en-US"> <!-- en en-US s -->
<head>
	<title>Sway App</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
	<link rel="icon" type="image/x-icon" href="images/favicon.ico"/>
	{{{ links }}}
</head>

<body>
<div id="contents">
	
</div>

{{{ scripts }}}
</body>
</html>